@import "tailwindcss";
@import "tw-animate-css";

.App {
  background-color: #171717;
}

#root {
  margin: 0;
  padding: 0;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.input-style {
  @apply text-base border-1 border-[#222222] bg-[#404040] rounded-[6px] py-[4px] px-[12px]
}

.input-style2 {
  @apply border-1 border-[#222222] bg-[#404040] rounded-[6px] py-[4px] px-[12px]
}

.button-style {
  @apply cursor-pointer flex text-base items-center justify-center font-medium rounded-[6px] bg-white text-black px-4 py-2 hover:bg-white/90
}

.error-msg {
  @apply text-center text-base text-red-300
}

.event-posts-container {
  @apply flex flex-col gap-4 cursor-pointer
}

.modal-container {
  @apply fixed flex top-0 left-0 w-[100vw] h-[100vh] justify-center items-center bg-[rgba(0,0,0,0.5)]
}

.modal {


}

.modal-hidden {
  @apply hidden
}

.sidebar-container {
  @apply fixed flex flex-col w-[272px] items-start py-4 px-6 top-0 left-0 border-r-1 h-[100vh] 
}

.sidebar-item {
  @apply flex items-center w-full h-14 font-bold gap-4 hover:bg-white/30 p-2 rounded-[6px] 
}

.sidebar-item-icon {
  @apply h-full text-white 
}

.event-post {
  @apply cursor-pointer p-4 rounded-[6px] border-white border-1 break-words
}



@custom-variant dark (&:is(.dark *));


:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}




