@import "tailwindcss";

.App {
  background-color: #171717;
}

#root {
  margin: 0;
  padding: 0;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.input-style {
  @apply text-base border-1 border-[#222222] bg-[#404040] rounded-[6px] py-[4px] px-[12px]
}

.button-style {
  @apply cursor-pointer flex text-base items-center justify-center font-medium rounded-[6px] bg-white text-black px-4 py-2 hover:bg-white/90
}

.error-msg {
  @apply text-center text-base text-red-300
}

.event-posts-container {
  @apply flex flex-col gap-4 cursor-pointer
}

.modal-container {
  @apply fixed flex top-0 left-0 w-[100vw] h-[100vh] justify-center items-center bg-[rgba(0,0,0,0.5)]
}

.modal {


}

.modal-hidden {
  @apply hidden
}



